/* Step 1: Global Styles */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #101010;
    color: #0f0; /* Classic green for text */
}




/* Step 9: Show Password Checkbox */
.profile-management #show-password {
    margin-left: 10px;
    vertical-align: middle;
    color: #ff8c00;
    cursor: pointer;
}
